/* Products.scss */

// Thêm CSS cho nút "View Details" để căn giữa trung tâm
.btn-primary {
    font-size: 14px; // Độ lớn của chữ bên trong nút
    padding: 5px 10px; // Kích thước của nút (độ rộng và chiều cao)
    display: inline-flex; // Sử dụng flexbox
    align-items: center; // Căn giữa theo chiều dọc
    justify-content: center; // Căn giữa văn bản bên trong nút
    margin-top: 26px;
}
  