.admin-menu {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid #dee2e6;
  /* border-radius: 5px; */
  margin-top: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* padding: 20px; */
  text-align: left; /* Đã thay đổi để căn lề trái */
  position: fixed;
  top: 60px; /* Đã thay đổi để đặt cách đáy Header 60px */
  bottom: 0;
  left: 0;
  width: 250px; /* Đã thay đổi chiều rộng */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung quá dài */
}

.admin-menu-title {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  /* border-radius: 5px 5px 0 0; */
}

.list-group {
  padding: 0;
  margin: 0; /* Đã thay đổi để loại bỏ khoảng cách trên và dưới */
}

.list-group-item {
  padding: 0;
  border: none;
}

.nav-link {
  display: block;
  padding: 10px;
  text-align: left;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s;
}

.nav-link:hover {
  background-color: #f8f9fa;
  color: #333;
}
